body {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#gridContainer {
	width: 60vh;
	height: 60vh;
	display: flex;
	flex-wrap: wrap;
	padding-top: 10vh;
}

.cell {
	width: 20vh;
	height: 20vh;
	outline: 1px solid grey;
	cursor: pointer;
	text-align: center;
	line-height: 20vh; /*galima panaudoti vienos linijos vertikaliam centravimui*/
	font-size: 10vh;
	color: grey;
}

.cell.win {
	background-color: rgb(128, 154, 240);
}

#winMessage {
	color: rgb(128, 154, 240);
	font-size: 10vh;
	display: none;
	padding-top: 10vh;
}

@media (orientation: portrait) {
		#gridContainer {
		width: 60vw;
		height: 60vw;
		padding-top: 10vw;
	}

	.cell {
		width: 20vw;
		height: 20vw;
		line-height: 20vw;
		font-size: 10vw;
	}

	#winMessage {
		font-size: 10vw;
		padding-top: 10vw;
	}
}
